In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("dream_market_cocaine_listings.csv")

print(df.shape)
df.info()

(1504, 64)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1504 entries, 0 to 1503
Data columns (total 64 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               1504 non-null   int64
 1   product_title            1504 non-null   object
 2   ships_from_to            1504 non-null   object
 3   grams                    1504 non-null   float64
 4   quality                  1504 non-null   float64
 5   btc_price                1504 non-null   float64
 6   cost_per_gram            1504 non-null   float64
 7   cost_per_gram_pure       1504 non-null   float64
 8   escrow                   1504 non-null   int64
 9   product_link             1504 non-null   object
 10  vendor_link              1504 non-null   object
 11  vendor_name              1504 non-null   object
 12  successful_transactions  1504 non-null   int64
 13  rating                   1504 non-null   float64
 14  ships_from               1504 non-null   object
 15  ships_to                 1504 non-null   object
 16  ships_to_US              1504 non-null   bool
 17  ships_from_US            1504 non-null   bool
 18  ships_to_NL              1504 non-null   bool
 19  ships_from_NL            1504 non-null   bool
 20  ships_to_FR              1504 non-null   bool
 21  ships_from_FR            1504 non-null   bool
 22  ships_to_GB              1504 non-null   bool
 23  ships_from_GB            1504 non-null   bool
 24  ships_to_CA              1504 non-null   bool
 25  ships_from_CA            1504 non-null   bool
 26  ships_to_DE              1504 non-null   bool
 27  ships_from_DE            1504 non-null   bool
 28  ships_to_AU              1504 non-null   bool
 29  ships_from_AU            1504 non-null   bool
 30  ships_to_EU              1504 non-null   bool
 31  ships_from_EU            1504 non-null   bool
 32  ships_to_ES              1504 non-null   bool
 33  ships_from_ES            1504 non-null   bool
 34  ships_to_N. America      1504 non-null   bool
 35  ships_from_N. America    1504 non-null   bool
 36  ships_to_BE              1504 non-null   bool
 37  ships_from_BE            1504 non-null   bool
 38  ships_to_WW              1504 non-null   bool
 39  ships_from_WW            1504 non-null   bool
 40  ships_to_SI              1504 non-null   bool
 41  ships_from_SI            1504 non-null   bool
 42  ships_to_IT              1504 non-null   bool
 43  ships_from_IT            1504 non-null   bool
 44  ships_to_DK              1504 non-null   bool
 45  ships_from_DK            1504 non-null   bool
 46  ships_to_S. America      1504 non-null   bool
 47  ships_from_S. America    1504 non-null   bool
 48  ships_to_CH              1504 non-null   bool
 49  ships_from_CH            1504 non-null   bool
 50  ships_to_BR              1504 non-null   bool
 51  ships_from_BR            1504 non-null   bool
 52  ships_to_CZ              1504 non-null   bool
 53  ships_from_CZ            1504 non-null   bool
 54  ships_to_SE              1504 non-null   bool
 55  ships_from_SE            1504 non-null   bool
 56  ships_to_CO              1504 non-null   bool
 57  ships_from_CO            1504 non-null   bool
 58  ships_to_CN              1504 non-null   bool
 59  ships_from_CN            1504 non-null   bool
 60  ships_to_PL              1504 non-null   bool
 61  ships_from_PL            1504 non-null   bool
 62  ships_to_GR              1504 non-null   bool
 63  ships_from_GR            1504 non-null   bool
dtypes: bool(48), float64(6), int64(3), object(7)
memory usage: 258.6+ KB

In [3]:
#Drop Blank, product link, vendor link Columns
df = df.drop(columns=['Unnamed: 0', 'vendor_link', 'product_link', 'escrow'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1504 entries, 0 to 1503
Data columns (total 60 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   product_title            1504 non-null   object
 1   ships_from_to            1504 non-null   object
 2   grams                    1504 non-null   float64
 3   quality                  1504 non-null   float64
 4   btc_price                1504 non-null   float64
 5   cost_per_gram            1504 non-null   float64
 6   cost_per_gram_pure       1504 non-null   float64
 7   vendor_name              1504 non-null   object
 8   successful_transactions  1504 non-null   int64
 9   rating                   1504 non-null   float64
 10  ships_from               1504 non-null   object
 11  ships_to                 1504 non-null   object
 12  ships_to_US              1504 non-null   bool
 13  ships_from_US            1504 non-null   bool
 14  ships_to_NL              1504 non-null   bool
 15  ships_from_NL            1504 non-null   bool
 16  ships_to_FR              1504 non-null   bool
 17  ships_from_FR            1504 non-null   bool
 18  ships_to_GB              1504 non-null   bool
 19  ships_from_GB            1504 non-null   bool
 20  ships_to_CA              1504 non-null   bool
 21  ships_from_CA            1504 non-null   bool
 22  ships_to_DE              1504 non-null   bool
 23  ships_from_DE            1504 non-null   bool
 24  ships_to_AU              1504 non-null   bool
 25  ships_from_AU            1504 non-null   bool
 26  ships_to_EU              1504 non-null   bool
 27  ships_from_EU            1504 non-null   bool
 28  ships_to_ES              1504 non-null   bool
 29  ships_from_ES            1504 non-null   bool
 30  ships_to_N. America      1504 non-null   bool
 31  ships_from_N. America    1504 non-null   bool
 32  ships_to_BE              1504 non-null   bool
 33  ships_from_BE            1504 non-null   bool
 34  ships_to_WW              1504 non-null   bool
 35  ships_from_WW            1504 non-null   bool
 36  ships_to_SI              1504 non-null   bool
 37  ships_from_SI            1504 non-null   bool
 38  ships_to_IT              1504 non-null   bool
 39  ships_from_IT            1504 non-null   bool
 40  ships_to_DK              1504 non-null   bool
 41  ships_from_DK            1504 non-null   bool
 42  ships_to_S. America      1504 non-null   bool
 43  ships_from_S. America    1504 non-null   bool
 44  ships_to_CH              1504 non-null   bool
 45  ships_from_CH            1504 non-null   bool
 46  ships_to_BR              1504 non-null   bool
 47  ships_from_BR            1504 non-null   bool
 48  ships_to_CZ              1504 non-null   bool
 49  ships_from_CZ            1504 non-null   bool
 50  ships_to_SE              1504 non-null   bool
 51  ships_from_SE            1504 non-null   bool
 52  ships_to_CO              1504 non-null   bool
 53  ships_from_CO            1504 non-null   bool
 54  ships_to_CN              1504 non-null   bool
 55  ships_from_CN            1504 non-null   bool
 56  ships_to_PL              1504 non-null   bool
 57  ships_from_PL            1504 non-null   bool
 58  ships_to_GR              1504 non-null   bool
 59  ships_from_GR            1504 non-null   bool
dtypes: bool(48), float64(6), int64(1), object(5)
memory usage: 211.6+ KB

In [4]:
df.head()

,product_title,ships_from_to,grams,quality,btc_price,cost_per_gram,cost_per_gram_pure,vendor_name,successful_transactions,rating,...,ships_to_SE,ships_from_SE,ships_to_CO,ships_from_CO,ships_to_CN,ships_from_CN,ships_to_PL,ships_from_PL,ships_to_GR,ships_from_GR
0,!!!!!INTRO OFFER!!!!! 1GR COCAINE 90%,NL → EU,1.0,90.0,0.02577,0.02577,0.028633,Mister-Molly,90,4.63,...,False,False,False,False,False,False,False,False,False,False
1,!!!!!INTRO OFFER!!!!! 2GR COCAINE 90%,NL → EU,2.0,90.0,0.05150,0.02575,0.028611,Mister-Molly,90,4.63,...,False,False,False,False,False,False,False,False,False,False
2,!!!INTRO!!! 0.5G COCAINE 89% - STRAIGHT FROM T...,NL → EU,0.5,89.0,0.01649,0.03298,0.037056,0ldamsterdamm,620,4.94,...,False,False,False,False,False,False,False,False,False,False
3,!1G! C O L O M B I A N C O C A I N E - 89% PURITY,FR → EU,1.0,89.0,0.04120,0.04120,0.046292,lhomme-masquer,15,5.00,...,False,False,False,False,False,False,False,False,False,False
4,** 1 Gram 87% Pure Uncut Colombian Cocaine **,NL → WW,1.0,87.0,0.03400,0.03400,0.039080,SMOOTHCRIMINAL007,28,4.78,...,False,False,False,False,False,False,False,False,False,False

In [ ]:
#Check for duplicates
df.duplicated().sum()

In [ ]:
#Check for missing values
df.isnull().sum()

In [ ]:
#Convert BTC to USD
btc_to_usd_rate = 8637813  # Set a fixed rate (adjust as needed)
df['usd_price'] = df['btc_price'] * btc_to_usd_rate

In [ ]:
df[['btc_price', 'usd_price']].head()

In [ ]:
#Analyze Vendor Performance
low_trans = df['successful_transactions'].quantile(0.33)
high_trans = df['successful_transactions'].quantile(0.66)

low_rating = df['rating'].quantile(0.33)
high_rating = df['rating'].quantile(0.66)

In [ ]:
def categorize_performance(row):
    if row['successful_transactions'] <= low_trans and row['rating'] <= low_rating:
        return 'Low'
    elif row['successful_transactions'] > high_trans and row['rating'] > high_rating:
        return 'High'
    else:
        return 'Medium'

df['vendor_performance'] = df.apply(categorize_performance, axis=1)

In [ ]:
df['vendor_performance'].value_counts()

In [ ]:
df.head()

In [ ]:
# Save the clean data
df.to_csv("cocaine_listing_clean.csv", index=False)